---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import TeamMemberCard from "../../components/TeamMemberCard.astro";
import TextWithImage from "../../components/TextWithImage.astro";
import { getEntry } from "astro:content";

const { data } = await getEntry("offer", "offer");
const { data: members } = await getEntry("data", "team_page");

export async function getStaticPaths() {
  const { data } = await getEntry("offer", "offer");
  return data.offer_list.map((offerItem) => {
    return { params: { section: offerItem.link } };
  });
}

const { section } = Astro.params;

const sectionData = data.offer_list.find((item) => item.link === section);

if (!sectionData) Astro.redirect("/404");

const text =
  "Mauris in congue mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin vel urna aliquam, aliquet ligula quis, dignissim urna. Sed pharetra eu lorem vel scelerisque. Maecenas consectetur velit ac porta dapibus. Integer congue magna et tempus efficitur.";
---

{
  sectionData ? (
    <Layout title="Welcome to Astro.">
      <div class="relative -top-2 overflow-hidden from-black to-transparent lg:h-[60vh]">
        <Image
          alt=""
          src={sectionData?.image}
          class="h-full w-full object-cover"
        />
        <div class="absolute bottom-0 left-0 z-20 w-full text-center">
          <h1 class="bg-gradient-to-t pb-8 text-3xl text-white lg:pb-20 lg:text-8xl">
            {sectionData?.role}
          </h1>
        </div>
      </div>
      <section class="container mx-auto space-y-12 py-16">
        <div class="mx-auto max-w-[1024px]">
          <h2 class="pb-4">{sectionData.name}</h2>
          <p class="text-xl">
            Mauris in congue mauris. Pellentesque habitant morbi tristique
            Mauris in congue mauris. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Proin vel
            urna aliquam, aliquet ligula quis, dignissim urna. Sed pharetra eu
            lorem vel scelerisque. Maecenas consectetur velit ac porta dapibus.
            Integer congue magna et tempus efficitur. senectus et netus et
            malesuada fames ac turpis egestas. Proin vel urna aliquam, aliquet
            ligula quis, dignissim urna. Sed pharetra eu lorem vel scelerisque.
            Maecenas consectetur velit ac porta dapibus. Integer congue magna et
            tempus efficitur.
          </p>
        </div>
        <TextWithImage img={sectionData.image} text={text} />
        <TextWithImage type="reversed" img={sectionData.image} text={text} />
        <TextWithImage img={sectionData.image} text={text} />

        <article>
          <h2 class="flex flex-col text-center">
            <span>{sectionData.role}</span>
            <span>Team</span>
          </h2>

          <div class="flex items-center justify-center gap-8 pt-10 max-lg:flex-col">
            {members.team_list.map((member) => (
              <TeamMemberCard member={member} />
            ))}
          </div>
        </article>
      </section>
    </Layout>
  ) : (
    Astro.redirect("/404")
  )
}
