---
import OfferCard from "../components/OfferCard.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Powerlifting from "../assets/images/powerlifting.png";
import Physiotherapy from "../assets/images/physiotherapy.png";
import Physiotherapy2 from "../assets/images/physiotherapy2.png";
import PersonalSession from "../assets/images/personal-session.png";
import LinkButton from "./LinkButton.astro";

const offer = [
  {
    img: Powerlifting,
    name: "Get Stronger",
    role: "Powerlifting",
    link: "/",
    width: "640",
    height: "640",
  },
  {
    img: Physiotherapy2,
    name: "Get back in shape after injury",
    role: "Physiotherapy",
    link: "/",
    width: "640",
    height: "350",
  },

  {
    img: Physiotherapy,
    name: "Fix the pain",
    role: "Physiotherapy",
    link: "/",
    width: "640",
    height: "350",
  },
  {
    img: PersonalSession,
    name: "Lose weight",
    role: "Personal session",
    link: "/",
    width: "640",
    height: "640",
  },
];
---

<section class="container mx-auto py-16">
  <SectionHeader text="What are your <br/> goals?" />

  <div class="grid gap-4 py-16 lg:grid-cols-2">
    <div class="grid gap-4">
      {
        offer
          .slice(0, 2)
          .map((offerItem, index) => (
            <OfferCard
              index={index + 1}
              img={offerItem.img}
              name={offerItem.name}
              role={offerItem.role}
            />
          ))
      }
    </div>
    <div class="grid gap-4">
      {
        offer
          .slice(2)
          .map((offerItem, index) => (
            <OfferCard
              index={index}
              img={offerItem.img}
              name={offerItem.name}
              role={offerItem.role}
            />
          ))
      }
    </div>
  </div>
  <div class="text-center text-3xl">
    <LinkButton link="" text="See All Classes" />
  </div>
</section>
