---
// @ts-nocheck
import { Image } from "astro:assets";
import DoubleChevron from "../assets/images/double-chevron.svg";
import LinkButton from "./LinkButton.astro";
import type { ImageMetadata } from "astro";

interface Props {
  img: ImageMetadata;
  name: string;
  role: string;
  index: number;
  link: string;
}

const { img, name, role, index, link } = Astro.props;

const type = index % 2;
const dimenssion = {
  "0": "aspect-[640/350]",
  "1": "aspect-[1/1]",
};
---

<article
  class={`rounded-3xl overflow-hidden relative grid gap-4 ${dimenssion[type.toString()]}`}
>
  <Image src={img} alt="" class="h-full w-full object-cover object-bottom" />
  <div
    class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black to-transparent pb-4 pl-4 text-white sm:pb-7 sm:pl-7"
  >
    <p class="sm:text-lg">{role}</p>
    <p class="font-archivo-black text-2xl font-black sm:pb-3 sm:text-5xl">
      {name}
    </p>
    <LinkButton link={`offer${link}`} text="Learn More" img={DoubleChevron} />
  </div>
</article>
