---
import { Image } from "astro:assets";
import DoubleChevron from "../assets/images/double-chevron.svg";
import LinkButton from "./LinkButton.astro";

const { img, name, surname, role } = Astro.props;
---

<div class="relative">
  <Image src={img} alt="" transition:name={`${name}_${surname}`} />
  <article
    class="absolute bottom-0 left-0 w-full rounded-3xl bg-neutral-800 p-7"
  >
    <div class="text-white lg:text-xl">
      {role}
      <p
        class="mb-3 font-archivo-black text-3xl font-black text-white lg:text-5xl"
        transition:name={`first-name_${name}`}
      >
        <span>{name}</span>
        <br />
        <span>{surname}</span>
      </p>
      <LinkButton
        link={`/team/${name}`}
        text="Learn More"
        type="secondary"
        fontColor="text-white"
        img={DoubleChevron}
      />
    </div>
  </article>
</div>
